/*
Modified by OceanApocalypseStudios
---
Small overrides to the awesome SingulinkFX theme.
*/

.alert.alert-article {
    border: 2px solid var(--alert-article-border-color);
    background: var(--alert-article-bg-color);
    color: var(--alert-article-text-color)
}

.alert.alert-article>h5 {
    color: var(--alert-article-title-color)
}

.alert.alert-article>h5::before {
    content: "\f194"
}
