/* Default (mobile) */
.md-header__button.md-logo img {
    height: auto;
}

/* Desktop only: logo grow big */
@media screen and (min-width: 768px) {
    .md-header__button.md-logo img {
        height: 36px !important;
    }
}

/* Badge */
.mdx-badge {
    font-size: 0.85em;
}

/* Badge moved to the right */
.mdx-badge--right {
    float: right;
    margin-left: 0.35em;
}

/* Badge Icon */
.mdx-badge__icon {
    padding: 4px;
    background: var(--md-accent-fg-color--transparent);
    border-start-start-radius: 2px;
    border-end-start-radius: 2px;
}

/* Badge Icon (if last child) */
.mdx-badge__icon:last-child {
    border-radius: 2px;
}

/* Badge text */
.mdx-badge__text {
    padding: 4px 6px;
    border-start-end-radius: 2px;
    border-end-end-radius: 2px;
    box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
}
